<div class="container border">
    <div class="row justify-content-center border h-100">
        <div class="col-4 border">
            <div class="align-middle">
                <label for="">Cadena a cifrar:</label>
                <input type="text">
                <label for="">Cadena cifrada:</label>
                <span>{{ cadenaCifrada }}</span>
            </div>
        </div>
        <div class="col-4">
            <label for="">Cadena a descifrar:</label>
            <input type="text">
            <label for="">Cadena descifrada:</label>
            <span>{{ cadenaDescifrada }}</span>
        </div>
    </div>
</div>