<div class="container mt-5">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Contraseña Cifrada</th>
                <th scope="col">Salt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{nombre}}</td>
                <td>{{pass}}</td>
                <td>{{passc}}</td>
                <td>{{salt}}</td>
            </tr>
        </tbody>
    </table>

</div>