<!-- Cuerpo de la pagina -->
<div class="content p-lg-5">
    <br /><br />
    <div class="mt-1 container border col-lg-4 bg-white pb-2">
        <br />
        <div class="container p-4 text-center">
            <form formGroup="LoginForm" class="text-center" (submit)="singup(nombre.value, pass.value)">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" maxlength="15" required #nombre/>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <div class="input-group">
                        <input #x type="password" class="form-control" maxlength="15" id="password" required #pass />
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-block" (click)="singup(nombre.value, pass.value)">
                    Iniciar Sesion
                </button>
            </form>
        </div>
    </div>
</div>